<h1>About Blog</h1>

<body>
<p><b>  This is a simple Blog made with rails and love. Users around the world can share their articles with each other.   <b><p>

</body>

<%= link_to 'Home', root_path %>